body {
  /* background: rgb(253, 153, 153); */
  background: linear-gradient(
    20deg,
    rgba(253, 153, 153, 1) 0%,
    rgba(0, 122, 255, 1) 100%
  );
  /* height: max(100vh, 100%); */
  /* height: 100vh; */
}

html,
body {
  min-height: 100vh;
}

/*Calygraphy*/
@media screen and (max-width: 450px) {
  a {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 550px) {
  a {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  a {
    font-size: 2.5rem;
  }
}

label {
  color: white;
  font-family: "LemonMilk";
  font-weight: 400;
}

.btn-primary {
  color: white;
  font-family: "LemonMilk";
  font-weight: 400;
  padding: 10px 50px;
}
.btn-secondary {
  color: white;
  font-family: "LemonMilk";
  font-weight: 400;
  padding: 10px 50px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

.navbar-item {
  margin: 5px;
  align-self: center;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-family: "LemonMilk";
  font-size: 35px;
  opacity: 1;
}
.navbar-item-btn {
  display: flex;
  align-items: center;
}

.navbar-item-btn img {
  width: 45px; /* Adjust the width as needed */
  height: 45px; /* Adjust the height as needed */
  filter: invert(100%);
}

@media screen and (min-width: 200px) {
  .navbar-item a {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 570px) {
  .navbar-item a {
    font-size: 3rem;
  }
}
@media screen and (min-width: 900px) {
  .navbar-item a {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .navbar-item a {
    font-size: 3rem;
  }
}

@media screen and (min-width: 930px) {
  .navbar {
    justify-content: flex-end;
    display: flex;
  }

  .navbar-list {
    flex-direction: row;
  }

  .navbar-item {
    margin: 0 10px;
  }
  .navbar-item-btn {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .navbar-item-btn {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .dropdown .navbar-list a {
    display: none;
  }

  .dropdown .navbar-list .show a {
    display: flex;
  }

  .navbar-item-btn {
    display: block;
    order: 3;
    align-self: center;
  }
}

/*Logo Div */

.logodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 90%;
  max-width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.logodiv-label {
  display: block;
  font-size: 15rem;
  font-family: "LemonMilk";
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: white;
}

.logodiv-sublabel {
  font-family: "LemonMilk";
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  color: white;
}

@media screen and (min-width: 200px) {
  .logodiv-label {
    font-size: 8rem;
  }
}

@media screen and (min-width: 550px) {
  .logodiv-label {
    font-size: 12rem;
  }
}

@media screen and (min-width: 768px) {
  .logodiv-label {
    font-size: 20rem;
  }
  .logodiv {
    margin-bottom: 100px;
  }
}

/*grid*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* For desktop */
  grid-template-rows: auto; /* For desktop */
  gap: 10px; /* Adjust the gap between grid items as needed */
  margin-bottom: 50px;
}

.grid-img {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  align-items: center; /* Horizontally center the content */
  text-align: center;
}

.grid-img img {
  max-height: 90vh;
  /* max-width: 60%; */
  height: auto;
}

.grid-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-text p {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
  /* font-size: 2rem; */
  font-family: "LemonMilk";
  font-weight: 100;
}

@media screen and (max-width: 767px) {
  /* For mobile */
  .grid-img img {
    /* max-height: 90vh; */
    max-width: 60%;
    height: auto;
  }
  .grid-container {
    grid-template-columns: 1fr; /* Single column */
    grid-template-rows: auto auto; /* Two rows */
  }
}
@media screen and (min-width: 767px) {
  .reverse {
    order: 2;
  }
}

@media screen and (min-width: 250px) {
  .grid-text p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 500px) {
  .grid-text p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 728px) {
  .grid-text p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 950px) {
  .grid-text p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1300px) {
  .grid-text p {
    font-size: 1.4rem;
  }
}

/* Downloand on app store */

.app-store-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.app-store-button img {
  display: block;
  width: 250px;
  height: auto;
}

@media screen and (min-width: 767px) {
  .app-store-button img {
    display: block;
    width: 225px;
    height: auto;
  }
}

/*Footer*/
.contact-details {
  font-family: "LemonMilk";
}

.contact-details h1 {
  color: white;
}
.contact-details a {
  color: cornflowerblue;
}

@media screen and (max-width: 450px) {
  .contact-details a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 550px) {
  .contact-details a {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .contact-details a {
    font-size: 2.5rem;
  }
}

/*Error div */

.errorDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.errorDiv h1 {
  color: white;
  font-family: "LemonMilk";
  font-weight: 400;
}

.errorDiv h2 {
  color: white;
  font-family: "LemonMilk";
  font-weight: 400;
}

/*CheckIn*/
.checkin-h {
  color: white;
  font-family: "LemonMilk";
  font-weight: 100;
}

.checkin-h3 {
  color: black;
  font-weight: 500;
}

.checkin-h span {
  font-weight: 400;
}

/*Label*/
